{{#partial "content"}}
    <section>
        <div class="container">
            <div class="new-entry">
                <h2>Publish New Entry</h2>
                <form method="post" name="/entries/new">
                    <!--
                        added required as quick fix for this field to be non
                        empty, so that we can create a slug, and web-page,
                        associated with title
                    -->
                    <label for="title"> Title</label>
                    <input type="text" name="title" required><br>
                    <!--changed name attr to "body" for convenience-->
                    <label for="entry">Entry</label>
                    <textarea rows="5" name="body"></textarea>
                    <!--Tags-->
                    <label for="tags">Tags</label>
                    <input type="text" name="tags"><br>
                    <!--Submit button-->
                    <input type="submit" value="Publish Entry" class="button">
                    <!--Cancel button-->
                    <a href="/" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{{/partial}}
{{> base.hbs}}